.sign_in {
  width: 500px;
  margin: 0 auto;
  border: 1px solid gainsboro;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name_box,
.email_box,
.password_box {
  width: 200px;
  height: 30px;
  margin-bottom: 30px;
}

.btn {
  width: 150px;
  height: 40px;
}
